:host {
    display: block;
    width: 100%;
}

.header {
    margin-bottom: 8px;
}

.input {
    width: 100%;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.result-box {
    margin-top: 50px;
}
